# Unity 忽略檔案
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.unitypackage
*.app
*.log
sysinfo.txt
mono_crash.*

# Addressables
ServerData/
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/
Assets/Addressables_Temp/
Assets/AddressableAssetsData/**/*.bin*

# Visual Scripting
Assets/Unity.VisualScripting.Generated/

# 忽略大型 AI 模型與 LLM 檔案
Assets/StreamingAssets/**/*.dll
Assets/StreamingAssets/**/*.so
Assets/StreamingAssets/**/*.onnx
Assets/StreamingAssets/**/*.gguf
Assets/StreamingAssets/**/*.pt
Assets/StreamingAssets/**/*.bin
Library/PackageCache/**/*.dylib
Library/PackageCache/**/*.dll
Library/PackageCache/**/*.so
